$blue: #0000ff;
$red: #ff0000;
$orange: #ffa500;
$green: #008000;
$white: #fff;
$black: #000;
$grey: #6f6d6d;
$gray: #d3cece;
$light-grey: #f1f1f1;
$darker-white: #fffff0;

$font: sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}